body {
    background-color: #e4f5e4;
}

header {
    text-decoration: underline;
    font-family: Palatino, URW Palladio L, serif;
    font-size: 48px;
    text-align: center;
    color: #0d2d63;
}

#intro {
    font-size: 24px;
    font-family: Didot, serif;
}
h2 {
    font-size: 38px;
    font-family: Palatino, URW Palladio L, serif;
    color: #0d2d63;
    text-decoration: underline;
}

p {
    font-size: 20px;
   font-family: Didot, serif;
}
li {
    font-size: 20px;
    font-family: Didot, serif;
}
footer {
    font-family: Didot, serif;
    color: #0d2d63;
    text-align: center;
    font-size: 28px;
}